<?xml version="1.0" encoding="UTF-8"?>
<launch>

  <!-- <env name="GAZEBO_RESOURCE_PATH" value="$(find simenv)/media/materials"/> -->

  <arg name="db" default="false" />
  <arg name="db_path" default="$(find lemons_moveit)/default_warehouse_mongo_db" />
  <arg name="debug" default="false" />
  <arg name="use_gui" default="false" />
  <arg name="gazebo_gui" default="true"/>
  <arg name="paused" default="false"/>
  <arg name="urdf_path" default="$(find simenv)/urdf/simenv.urdf"/>

  <rosparam file="$(find lemons)/config/target.yaml" command="load"/>

  <include file="$(find lemons_moveit)/launch/gazebo.launch" >
    <arg name="paused" value="$(arg paused)"/>
    <arg name="gazebo_gui" value="$(arg gazebo_gui)"/>
    <arg name="urdf_path" value="$(arg urdf_path)"/>
  </include>

  <include file="$(find lemons_moveit)/launch/planning_context.launch">
    <arg name="load_robot_description" value="false"/>
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" unless="$(arg use_gui)">
    <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
    <rosparam param="source_list">[/joint_states]</rosparam>
  </node>
  
  <node name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" if="$(arg use_gui)">
    <rosparam param="source_list">[move_group/fake_controller_joint_states]</rosparam>
    <rosparam param="source_list">[/joint_states]</rosparam>
  </node>

  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <include file="$(find lemons_moveit)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="false"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="$(arg debug)"/>
  </include>  

  <param name="Belt" command="$(find xacro)/xacro '$(find simenv)/urdf/belt.xacro'"/> 
  <arg name="Object" value="$(find simenv)/models/Apriltag36_11_00000/model.sdf"/> 
  <param name="Camera" command="$(find xacro)/xacro '$(find simenv)/urdf/cube.urdf'"/> 
 
  <node name="belt" pkg="gazebo_ros" type="spawn_model" args="-urdf -param Belt -model belt -x 1.5 -y 0.2 -z 0.0" />
  <!-- <node name="belt1" pkg="gazebo_ros" type="spawn_model" args="-urdf -param Belt -model belt1 -x -2.0 -y 0.2 -z 0.0" /> -->
  <node name="camera" pkg="gazebo_ros" type="spawn_model" args="-urdf -param Camera -model camera -x 2.0 -y -0.15 -z 0.5 -P 1.57" />

  <node pkg="tf2_ros" type="static_transform_publisher" name="virtualLinkBroadcaster0" args="0 0 0 0 0 0 1 virtualLink arm0" />
  <node pkg="tf2_ros" type="static_transform_publisher" name="virtualLinkBroadcaster1" args="1.5 0.2 0 0 0 0 1 virtualLink belt" />
  <!-- <node pkg="tf2_ros" type="static_transform_publisher" name="virtualLinkBroadcaster2" args="0 0 0 0 0 0 1 virtualLink belt1" /> -->
  <node pkg="tf2_ros" type="static_transform_publisher" name="virtualLinkBroadcaster3" args="2.0 -0.15 0.5 0 0.707 0 0.707 virtualLink camera" />

  <node name="obj" pkg="gazebo_ros" type="spawn_model" args="-file $(arg Object) -sdf -model obj -x 1.796401 -y -0.178903 -z 0.200416" launch-prefix="bash -c 'sleep 1.0; $0 $@' "/>
  <node name="dynamic" pkg="control" type="dynamic.py"/>

</launch>
